* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}
.blackshade{
  background-color: black;
  opacity: 0.44;
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(images/header-image.png);
  background-position: center;
  background-size: cover;
  padding: 10px 8%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: none;
  outline: 0;
  color: white;
  background: #db0001;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
}

.lang-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
  padding: 7px 10px;
}

.lang-btn img {
  width: 10px;
  margin-left: 10px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.email-sign {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.email-sign input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-sign button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}

/* Features Section */
.features {
  padding: 50px 12%;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.features h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* FAQ Section */
.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}

.faq h2 {
  font-weight: 500;
}


/* @media (max-width: 1024px) {
  .header-content h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .header-content h3 {
    font-size: 18px;
  }
  .email-sign button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .features h2 {
    font-size: 40px;
  }
} */

/* For mobile devices */
@media (max-width: 768px) {
  .header-content h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .header-content h3 {
    font-size: 16px;
  }
  .email-sign {
    flex-direction: column;
    align-items: stretch;
  }
  .email-sign input {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .email-sign button {
    padding: 10px;
    font-size: 14px;
  }
  .row {
    flex-direction: column;
  }
  .img-col img {
    width: 100%;
  }
  .features h2 {
    font-size: 30px;
  }
}
